@model Model<int>
<div class="container-wrap">
    <div class="container">
        <div class="row">
            <div class="col-sm-5 col-sm-offset-6">
                <!-- Padding -->
                <div class="card">
                    <div class="card-header">
                        <h2 class="c-pink">安全登录</h2>
                    </div>
                    <div class="card-body card-padding">
                        @using (Html.BeginForm())
                        {
                        <div class="form-group">
                            <label for="uid" class="control-label">
                                帐 号
                            </label>
                            <input type="text" class="form-control input-sm" id="uid" name="uid" maxlength="30"
                                   placeholder="用户名/绑定邮箱/绑定手机号" onkeyup="if(this.value.length>0 && $(this).parent().hasClass('has-error')){$(this).parent().removeClass('has-error');}" />
                            <p class="help-block">
                            </p>
                        </div>
                        <div class="form-group">
                            <label for="pwd" class="control-label">
                                密 码
                            </label>
                            <input type="password" class="form-control" id="pwd" name="pwd" maxlength="16"
                                   placeholder="登录密码" onkeyup="if(this.value.length>0 && $(this).parent().hasClass('has-error')){$(this).parent().removeClass('has-error');}" />
                            <p class="help-block">
                            </p>
                        </div>

                        <div id="form-group-captcha" class="form-group @(Model.Data>3?"": "hidden")">
                            <label for="captcha">
                                验证码
                            </label>
                            <div class="row">
                                <div class="col-sm-6">
                                    <input type="text" id="captcha" name="captcha" class="form-control" maxlength="5"
                                           placeholder="验证码" autocomplete="off" />
                                </div>
                                <div class="col-sm-6 text-right">
                                    <img id="img-captcha" class="captcha-img" src="/sign-in/captcha" onclick="this.src = '/sign-in/captcha?' + Math.random(); document.getElementById('captcha').value = '';"
                                         alt="点击刷新验证码" />
                                </div>
                            </div>
                            <p class="help-block">
                                请输入图片中的字符，不区分大小写。
                            </p>
                        </div>

                        <div class="form-group">
                            <label class="checkbox checkbox-inline">
                                <input type="checkbox" name="remember" value="false" onclick="if(this.checked){this.value='true';}else{this.value='false';}">
                                <i class="input-helper"></i>
                                记住帐号
                            </label>
                            <span class="pull-right">没有帐号？<a href="/sign-up" target="_blank">立即注册</a></span>
                        </div>
                        <div class="form-group">
                            <p>
                                <small id="notice-msg" class="c-orange">公共场所不建议自动登录，以防账号丢失。</small>
                                <span class="pull-right">忘记密码？<a href="/account/confirm">找回密码</a></span>
                            </p>
                        </div>
                        <div class="form-group">

                            <button type="button" class="btn bgm-pink btn-lg btn-block waves-effect" onclick="app.account.signIn(this);">登 录</button>

                        </div>

                        <div class="form-group sign-in-external">
                            <ul class="list-inline">
                                <li>使用合作网站账号登录：</li>
                                <li><a href="/oauth/qq">QQ</a> </li>
                            </ul>
                        </div>
                        }
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

@section js{


}
@section jsOmega{
    <script src="~/js/app.account.js" asp-version="true"></script>
    <script>

        $(function () {



        });
    </script>
}