<div class="container">
    <div class="card">
        <div class="card-header ch-alt">
            <h2>
                修改登录密码
                <small class="c-red">
                    重要提示：每天互联网都会有大量用户的帐号存在着严重被盗的风险。如果你正在使用与其他网站相同的密码，建议你尽快修改。
                </small>
            </h2>
        </div>
        <div class="card-body card-padding">
            @using (Html.BeginForm(FormMethod.Post, new { @class = "form-horizontal" }))
            {

                <div id="form-group-for-oldPassword" class="form-group">
                    <label class="col-md-4 control-label" for="oldPwd">
                        原 密 码
                    </label>
                    <div class="col-md-4">
                        <input type="password" id="oldPwd" name="oldPwd" class="form-control" maxlength="12" placeholder="请输入原密码">
                    </div>

                </div>
                <div id="form-group-for-newPassword" class="form-group">
                    <label class="col-md-4 control-label" for="newPwd">
                        新 密 码
                    </label>
                    <div class="col-md-4">
                        <input type="password" id="newPwd" name="newPwd" class="form-control" maxlength="12"
                               placeholder="请输入新密码">
                    </div>

                </div>
                <div id="form-group-for-confirmPwd" class="form-group">
                    <label class="col-md-4 control-label" for="confirmPwd">
                        确认密码
                    </label>
                    <div class="col-md-4">
                        <input type="password" id="confirmPwd" name="confirmPwd" class="form-control"
                               maxlength="12" placeholder="请再次输入新密码">
                    </div>

                </div>

                <div class="form-group">
                    <span class="col-md-6">

                    </span>
                    <div class="col-md-4">
                        <button type="button" class="btn btn-primary waves-effect " data-default-text="更新密码"
                                data-loading-text="提交数据中..." data-success-text="更新成功" onclick="submitForm(this)">
                            提 交
                        </button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


@section css{
}
@section js{
    <script type="text/javascript">

        function submitForm(btn) {
            var form = btn.form;
            $(btn).button('loading');
            var param = $(form).serialize();

            $.postJSON(form.action, param, function (r) {
                if (r.status) {
                    $(btn).button('success');
                }
                else {
                    $(btn).button('default');
                    alert(r.message);
                    //$('#message', form).css('color', 'green').html("保存成功！");
                }
            });
        }

        $(function () {
            $("#form-password-update").validate({
                rules: { 'oldPassword': { required: true, password: true }, 'newPassword': { required: true, password: true }, 'confirmPassword': { required: true, password: true, equalTo: '#newPassword' } },
                messages: { 'oldPassword': { required: '请输入原密码！', password: '6-12位，至少两个字母、两个数字、一个特殊字符！' }, 'newPassword': { required: '请输入新密码！', password: '6-12位，至少两个字母、两个数字、一个特殊字符！' }, 'confirmPassword': { required: '请再次输入新密码！', password: '6-12位，至少两个字母、两个数字、一个特殊字符！', equalTo: '确认密码与新密码不一致！' } },
                submitHandler: function (form) {
                    $('#btn-submit').button('loading');
                    var param = $(form).serialize();
                    $.postJSON(form.action, param, function (result) {
                        if (result.Status == true) {
                            $("#password-update-message").addClass('text-danger').html('更新成功');
                            $('#btn-submit').button('success');
                            setTimeout(function () {
                                $("#password-update-message").removeClass('text-danger').html('&nbsp;');
                            }, 2000);
                        } else {
                            $('#btn-submit').button('default');
                            if (result.Data == 0) {
                                $('#oldPassword').removeClass('success').addClass('invalid');
                                $('#form-group-for-oldPassword').removeClass('has-success').addClass('has-error');
                            }
                            if (result.Data == 1) {
                                $('#newPassword').removeClass('success').addClass('invalid');
                                $('#confirmPassword').removeClass('success').addClass('invalid');

                                $('#form-group-for-newPassword').removeClass('has-success').addClass('has-error');
                                $('#form-group-for-confirmPassword').removeClass('has-success').addClass('has-error');
                            }
                            $("#password-update-message").addClass('text-danger').html(result.Message);
                            setTimeout(function () { $("#password-update-message").removeClass('text-danger').html('&nbsp;'); }, 2000);
                        }
                    });
                    return false;
                },
                validClass: "success",
                errorClass: "invalid",
                errorElement: "span",
                errorPlacement: function (error, element) {
                    var id = $(element).attr('id');
                    $("#help-block-for-" + id).html(error);
                },
                highlight: function (element, errorClass, validClass) {
                    var id = element.id;
                    $(element).removeClass(validClass).addClass(errorClass);
                    $("#form-group-for-" + id).removeClass('has-success').addClass('has-error');
                },
                unhighlight: function (element, errorClass, validClass) {
                    var id = element.id;
                    $(element).removeClass(errorClass).addClass(validClass);
                    $("#help-block-for-" + id).html('&nbsp;');
                    $("#form-group-for-" + id).removeClass('has-error').addClass('has-success');
                }
            });
        });
    </script>
}
