<div class="container-wrap">
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-sm-offset-1">
                <!-- Padding -->
                <div class="card">
                    <div class="card-header">

                        <div class="stepflex ">
                            <dl class="first doing">
                                <dt class="s-num">1</dt>
                                <dd class="s-text">填写账号<s></s><b></b></dd>
                                <dd></dd>
                            </dl>
                            <dl class="normal">
                                <dt class="s-num">2</dt>
                                <dd class="s-text">验证身份<s></s><b></b></dd>
                            </dl>
                            <dl class="normal">
                                <dt class="s-num">3</dt>
                                <dd class="s-text">设置新密码<s></s><b></b></dd>
                            </dl>
                            <dl class="last">
                                <dt class="s-num">&nbsp;</dt>
                                <dd class="s-text">完成<s></s><b></b></dd>
                            </dl>
                        </div>
                    </div>

                    <div class="card-body card-padding">

                        @using (Html.BeginForm()){
                            <div class="form-group fg-line">
                                <label for="uid" class="control-label">
                                    帐 号
                                </label>
                                <input type="text" class="form-control input-sm" id="uid" name="uid" maxlength="30"
                                       placeholder="用户名/绑定邮箱/绑定手机号" onkeyup="if(this.value.length>0 && $(this).parent().hasClass('has-error')){$(this).parent().removeClass('has-error');}" />
                                <p class="help-block">
                                    您的帐号可能是您的用户名/绑定邮箱/绑定手机号
                                </p>

                            </div>
                            <div class="form-group fg-line">
                                <label for="captcha">
                                    验证码
                                </label>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <input type="text" id="captcha" name="captcha" class="form-control" maxlength="4"
                                               placeholder="验证码" autocomplete="off" />
                                    </div>
                                    <div class="col-sm-8">
                                        <img id="login-captcha-img" class="captcha-img" src="/global/captcha/signin" onclick="this.src='/global/captcha/signin?'+Math.random();document.getElementById('captcha').value='';"
                                             alt="点击刷新验证码" />
                                    </div>
                                </div>
                                <p class="help-block">
                                    请输入图片中的字符，不区分大小写。
                                </p>
                            </div>

                            <div class="form-group">

                                <button type="button" class="btn bgm-pink btn-lg btn-block waves-effect" onclick="app.passport.signUp(this);">下一步</button>

                            </div>
                        }
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>


@section jsOmega{

}
